html {
    overflow-y: scroll;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 100%; 
    line-height: 1.7em;
    color: #000000;
    padding: 1em;
}



footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333333;
    font-variant: small-caps;
    font-size: .813em;
    text-align: center;
    border-top: 1px dotted #cccccc;
}

#footer a {
    text-decoration: none;
    color: #3F7C9D;
}

table {
    margin: auto;
    border: 3px solid #075F8A; 
    width: 75%;
    border-collapse:collapse;
    border-spacing: 3px;
    padding: 2px;
    text-align: center;
}

th {
    padding: 2px;
    height: 40px;
    font-weight: bold;
    border: 1px solid #333333; 
    border-bottom: none;
    text-align: center;
}

td {
    padding: 2px;
    text-align: center;
    border: 1px solid #333333;
}

form {
    width: 75%;
    margin: auto;
    border: 1px solid #075F8A;
    padding: 10px;
}

legend {
    font-weight: bold;
    text-align: center;
    text-decoration-color: #666666;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
    text-align: center;
}

iframe {
    display:block;
    margin:auto;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.container {
    width: 70% !important;
}

.brand-logo {
    font-size: 40px !important;
    margin-left: 10px;
}